# config.py
# Configuration variables for the bot.


IG_USERNAME = ""
""" Instagram bot account username. Provide the username, not the email/phone. """
IG_PASSWORD = ""
""" Instagram bot password, in plaintext. """


DEBUG = True
""" Whether or not to send debug output. May or may not be useful. """


SORT_SLEEP_SECONDS = 20
""" How long the sorting thread should sleep. Raise this to avoid too many disk hits or unnecessary resource usage. """


POST_DELAY_MIN_SECONDS = 60
""" Low boundary for upload sleep time randomization. """
POST_DELAY_MAX_SECONDS = 100
""" High boundary for upload sleep time randomization. """


PERMANENT_HASHTAGS = ""
""" Hashtags to use on every uploaded post. """